html, body {
	height: 100%;
}

footer {
	background: #0747A6;
}

header {
	padding-left: 40px;
	padding-right: 40px;
}

.bottom_footer .container {
	border-top: 1px solid rgba(255,255,255,0.2);
	padding: 25px 0;
	color: rgba(255,255,255,0.7);
}

.bottom_footer a {
	color: rgba(255,255,255,0.7);
	padding: 0 20px;
}

.main_footer {
	padding: 40px 0;
}

.btns_social a {
	font-size: 25px;
	margin-left: 15px;
	opacity: 0.7;
}

.btns_social a:hover {
	opacity: 1;
}

.social_icons {
	width: 30px;
	height: 30px;
}

.main_footer .col_10 {
	font-size: 14px;
	color: rgba(255,255,255,0.8);
}

.main_footer h4 {
	font-size: 20px;
}

.one_post h2 a {
	font-size: 26px;
	color: inherit;
	font-weight: 600;
}

.tagline {
	font-size: 18px;
}

.author {
	display: inline-flex;
	align-items: center;
	font-weight: 400;
}

.author span:first-child {
	height: 40px;
	width: 40px;
	overflow: hidden;
	display: inline-block;
	border-radius: 50px;
	margin-right: 20px;
}

.category_date {
	font-size: 14px;
	font-weight: 400;
}

.post_image {
	max-width: 320px;
}

.post_image img {
	width: 100%;
}

.post_text .post_text_image > div {
	height: 320px;
	overflow: hidden;
	border-radius: 8px;
}

.post_image > div {
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
	border-radius: 8px;
}

.post_image:before {
	content: "";
	width: 100%;
	max-width: 350px;
	height: 200px;
	background: #f1f3f5;
	position: absolute;
	bottom: -20px;
	right: -20px;
	z-index: -1
}

.one_post {
	padding: 40px 0;
	border-top: 1px solid #efefef;
}

.one_post:first-child {
	border-top: 0;
}

.pager {
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

.pager a {
	color: #8da6bd;
	padding: 4px 15px;
	font-weight: bold;
	line-height: normal;
	border-radius: 2px;
	margin: 0 3px;
}

.pager a.active {
	background: #0971ce;
	color: #fff;
}

.newsletter_box {
	padding: 55px 50px 60px;
	position: relative;
	font-size: 18px;
	border-radius: 8px;
	text-align: center;
	background: #a5d1ff;
	overflow: hidden;
	margin-bottom: 100px;
	width: 66%;
	margin-left: 17%;
}

.newsletter_box h3 {
	font-size: 32px;
}

.newsletter_box .icon {
	width: 150px;
	height: 150px;
	position: absolute;
	left: -40px;
	bottom: -40px;
	color: rgba(255,255,255,0.6);
	opacity: 0.6;
}

.newsletter_box .plane {
	transform: rotate(220deg);
	height: 200px;
	width: 200px;
	right: -55px;
	bottom: -55px;
	opacity: 0.6;
	left: auto;
}

.newsletter_box input[type="text"] {
	border: 0;
	height: 3.5em;
	padding-left: 20px;
}

.newsletter_box .btn {
	display: block;
	width: 100%;
	font-family: "Gilroy-Medium";
	padding: 16px 20px 15px;
    font-size: 18px;
}

.categories_list {
	display: flex;
}

.categories_list a {
	color: #8da6bd;
	padding: 10px 20px 3px;
	font-size: 15px;
	font-weight: 400;
}

.categories_list a.active {
	color: #0747A6;
	border-bottom: 3px solid #0747A6;
}

.logo img {
	display: inline;
	height: 32px;
}

.logo a {
	display: block;
	display: inline-flex;
	align-items: stretch;
}

.logo span {
	font-size: 28px;
	line-height: normal;
}

.top_content h1 {
	font-size: 40px;
	padding-top: 70px;
	font-weight: 600
}

.top_content h4 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 60px;
}

.top_post .category_ {
	color: #8da6bd;
	font-size: 15px;
	font-weight: 600;
}

.top_post .tagline {
	font-size: 20px;
}

.top_post h2 a {
	font-size: 38px;
	line-height: normal;
}

.top_post .post_attr {
	padding: 50px 30px 50px 0;
    z-index: 1;
    background: #f5f7f9;
    margin-top: 50px;
    border-radius: 8px;
    width: 45%;
}

.top_post .post_image {
	max-width: 600px;
	max-width: none;
	width: 70%;
	margin-left: -15%;
}

.top_post .post_image > div {
    height: 420px;
}

.post_header h1 a {
	color: inherit;
	line-height: normal;
	font-size: 45px;
	font-weight: 600;
}

.post_header .tagline {
	font-size: 24px;
	margin: 5px 0 20px;
}

.post_header .post_image {
	width: 100%;
	max-width: 100%;
	height: 450px;
	overflow: hidden;
	margin-bottom: -50px;
	border-radius: 8px;
}

.post_header .post_image:before {
	content: none;
}

.post_body {
	position: relative;
	z-index: 1;
	padding-top: 100px;
}

.share_icons a {
	display: block;
	font-size: 30px;
	color: #BEBEBE;
	margin-bottom: 10px;
}

.post_text {
	font-size: 18px;
	line-height: 1.6;
}

.post_text p {
	margin-bottom: 30px;
}

.post_body .author {
	display: block;
}

.related_posts {
	border-top: 1px solid #e8e8e8;
	margin: 40px 0;
}

.related_posts .one_post {
	border: 0;
}

.related_posts legend {
	padding: 5px 20px 3px;
	font-size: 18px;
	border: 1px solid #e8e8e8;
}


@media only screen and (max-width: 768px) { 

	.main_footer .align_right {
		text-align: left;
	}

	header .column {
		float: left;
		width: 50%;
	}

	.social_btns a {
		margin-left: 0;
		margin-right: 15px;
		margin-top: 20px;
		display: inline-block;
	}

	.bottom_footer a {
		padding: 0;
	}

	.categories_list {
		display: none;
	}

	.logo span {
	    font-size: 25px;
	    line-height: normal;
	}

	.logo img {
	    display: inline;
	    height: 28px;
	}

	header .align_right {
		padding-top: 5px;
	    font-size: 14px;
	}

	.contain {
		width: 100%;
		padding: 0 30px;
	}

	.blog_posts .post_image.column.right {
		float: none !important;
		margin-bottom: 30px;
		max-width: none;
		width: 95%;
	}

	.blog_posts .one_post .author {
		display: none;
	}

	.blog_posts .one_post .tagline {
		margin: 0;
	}

	.blog_posts .post_image > div {
	    height: 200px;
	}

	.newsletter_box {
	    padding: 50px 40px 50px;
	}

	.newsletter_box .column {
		margin-bottom: 10px;
		z-index: 1;
	}

	.top_post .post_attr {
		float: none !important;
		width: 100%;
	    padding: 0;
	    margin: 0;
	    padding-top: 25px;
	}

	.top_post .post_image, .post_header .post_image {
		float: none !important;
		width: calc(100% + 60px);
		margin-left: -30px;
		margin-right: -30px;
	}

	.post_header .post_image {
	    height: 300px;
	    margin-bottom: -50px;
	    border-radius: 0;
	    max-width: none;
	}

	.top_post .post_image:before {
		content: none;
	}

	.top_post .post_image > div {
	    height: 240px;
	    border-radius: 0;
	}

	.top_post .tagline {
	    font-size: 18px;
	}

	.top_post h2 a {
	    font-size: 34px;
	    line-height: normal;
	}

	.top_post {
		padding: 20px 0;
	}

	.post_header .tagline {
	    font-size: 20px;
	}

	.post_header h1 a {
	    font-size: 40px;
	    padding-top: 10px;
	}

	.related_posts .one_post {
		padding-bottom: 0;
	}

	.share_icons a {
	    display: inline-block;
	    font-size: 25px;
	    color: #BEBEBE;
	    margin-bottom: 10px;
	    margin-right: 15px;
	}

	.post_body .author {
		display: inline-flex;
	}

	header {
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.post_body {
	    margin-top: 70px;
	}

	.post_header .category_date {
    	margin-bottom: 20px !important;
	}

}
.color_hite {
	font-weight: 900;
	font-family: "Gilroy-Regular";
}





